<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

{% include 'header.html' %}
<div class="container mt-5">
    <h1>Welcome to Amma's Kitchen</h1>
    <p>Experience the fusion of European and Asian cuisine at our restaurant.</p>
    <img src="/static/images/dish1.jpg" alt="Dish 1" class="img-fluid">
    <p class="mt-3">Make a reservation now to secure your table.</p>
    <a href="{% url 'make_reservation' %}" class="btn btn-success">Reserve a Table</a>
</div>
{% include 'footer.html' %}


</body>
</html>

